.dashboard-main-content {
  display: flex;
  .dashboard-filter-container {
    font-family: "PT Sans", sans-serif;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    .filter-footer {
      padding: 20px 0px;
      .button {
        font-family: "PT Sans", sans-serif;
        text-transform: inherit;
        font-weight: 700;
        width: 100%;
      }
    }
    .filter-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .clear {
        cursor: pointer;
        text-decoration: none;
        text-transform: none;
      }
    }
  }
}
